@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:salutation"],
.signature{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

footer{
	text-align: right;
	margin-top: 1em;
}

section[epub|type~="z3998:postscript"]{
	margin-top: 3em;
}

section[epub|type~="z3998:postscript"] header p{
	font-style: italic;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

figure{
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	margin: 0;
	max-height: 100%;
	text-align: center;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

figure + p{
	text-indent: 0;
}
