@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"],
[epub:type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

footer{
	text-align: right;
	margin-top: 1em;
}

section[epub|type~="z3998:postscript"] header{
	font-variant: small-caps;
	margin-bottom: 1em;
	margin-top: 3em;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}
