@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

section[epub|type~="z3998:postscript"] header{
	font-variant: small-caps;
	margin-bottom: 1em;
	margin-top: 3em;
}

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

p[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
